<!DOCTYPE html>

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/juicy-html/juicy-html.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="content-view">
  <template>
    
    <section id="content">
    </section>

  </template>
  <script>
    Polymer({
      is: 'content-view',
      properties: {
        target: {
          type: String,
          notify: true,
          observer: 'targetChanged'
        }
      },
      ready: function() {
        if(this.target.indexOf(".html") == -1) return;
        
        
      },
      targetChanged: function(e) {
        this.importHref(this.target, function(e) {
            console.log("load success", e.target.import);
            
            console.log("content: ", e.target.import.body);
            //this.$.content.innerHTML = '';
            this.$.content.appendChild(e.target.import.body);
            
            //this.$.content.addEventListener('click', this.linkHandler);

            // e.target.import is the import document.
        }, function(e) {
            console.log("loading error");
        });
      },
      linkHandler: function(e) {
        e.preventDefault();
        
      }
    });

  </script>
</dom-module>