<!DOCTYPE html>

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">

<!-- include libraries(jQuery, bootstrap) -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<!-- include summernote css/js-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

<dom-module id="edit-view">
  <template>
    <style>
      :host {
        width: 100%;
      }


    </style>
    <style is="custom-style">
      .content {
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
      }

      .spacer {
        @apply(--layout-flex);
      }

      #editor {
        overflow:scroll;
        min-height:380px;
      }
    </style>

    <iron-ajax
      id="ajax"
      url="{{page}}"
      handle-as="text"
      last-response="{{pageData}}"
      debounce-duration="300">
    </iron-ajax>

    <paper-toolbar>
      <div class="title">
        EDITOR
      </div>

      <div class="spacer"></div>

      <paper-icon-button id="saveButton" icon="save" class="a"></paper-icon-button>
    </paper-toolbar>

    <paper-material elevation="1" class="content">

      <div id="summernote"></div>


    </paper-material>
  </template>
  <script>
    Polymer({
      is: 'edit-view',
      listeners: {
        'saveButton.tap': 'onPageSave'
      },
      properties: {
        ajax: Object,
        pageData: {
          type: String,
          notify: true,
          observer: 'onPageDataChange'
        },
        page: {
          type: String,
          notify: true,
          observer: 'updatePage'
        },
        pageToEdit: Number
      },
      ready: function() {
        console.log(this.page);
        this.ajax = this.$.ajax;
        this.updatePage();
      },
      updatePage: function(e) {
        console.log("in updatePage");

        if(this.ajax)
          this.ajax.generateRequest();
      },
      onPageDataChange: function(e) {
        console.log("pageData: ", this.pageData);
        $('#summernote').summernote('code', this.pageData);
      },
      onPageSave: function() {
        console.log("onsave");
        window.location.href = ("data:application/xml;charset=utf-8,<html>" + $('#summernote').summernote('code') + "</html>");
      }

    });

  </script>
</dom-module>
